<div class="nav-container" *ngIf="showNv">
  <section class="logo-section">
    <div class="logo">
      <h1>
        <a routerLink="/">  Start.IO</a>
      </h1>
    </div>
    <div class="close" (click)="toggleNav()">
      <i class="fa fa-times-circle-o" aria-hidden="true"></i>
    </div>
  </section>

  <section class="nav-section" >
    <div class="nav">
      <ul>
        <li>
          <a  routerLink="/"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>

        <li class="dropdown">
          <a  routerLinkActive="active-link">Drop down </a>
          <ul class="drop-down-items">
            <li><a  routerLink="/dashboard">Its so..</a></li>
            <li><a  routerLink="">cool </a></li>
          </ul>
        </li>
        <li>
          <a  routerLinkActive="active-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </section>
</div>


<div class="mobile-header">
  <div class="logo">
    <h1>
      Start-IO
    </h1>
  </div>

  <div class="nav" (click)="toggleNav()">
    <h1><i class="fa fa-bars" aria-hidden="true"></i>
    </h1>
  </div>
  <div class="nav"></div>
</div>